{% extends "base.html" %}


{% block body%}
    {% if fruit%}
        <h1>Update {{fruit.name}}</h1>

    {% else%}
        <h1>Create a new Fruit</h1>

    {% endif %}

    <form method='post'>
        {% csrf_token %}

        <label for="name">Name:</label>
        <input value="{{fruit.name}}" type="text"name="name" id="name">

        <label for="is_ready_to_eat">Is Ready To Eat?</label>
        <input {% if fruit.is_ready_to_eat%} checked {% endif%} type="checkbox"name="is_ready_to_eat" id="is_ready_to_eat">

        <button type='submit'>Submit</button>
    </form>
{% endblock %}